@import url("https://fonts.googleapis.com/css?family=Cormorant+SC");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
@import url("https://fonts.googleapis.com/css?family=Cormorant");
*, *:before, *:after {
    padding: 0;
    margin: 0; }

html, body {
    height: 100%; }

body {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: url("../img/back.jpg") fixed center;
    height: 100%;
    background-size: 100%;
    cursor: pointer;
    text-align: justify; }

a {
    text-decoration: none;
    color: #222222; }

img {
    max-width: 300px;
    width: 100%;
    border: 2px solid whitesmoke;
    border-radius: 2%; }

figure {
    margin: 0; }

.bigBack {
    width: 100%;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.3), rgba(251, 233, 200, 0.27));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.3), rgba(251, 233, 200, 0.27));
    background-size: 100%; }

.wrapper {
    max-width: 1000px;
    min-width: 500px;
    width: 80%;
    margin: 0 auto;
    overflow: hidden; }
@media screen and (max-width: 1000px) {
    .wrapper {
        width: 90%; } }

.exhibition__sectionModel {
    width: 31.3%;
    float: left;
    margin: 1%; }
.exhibition__sectionModel :last-child {
    margin-right: 0; }
.exhibition__sectionModel :first-child {
    margin-left: 0; }
@media screen and (max-width: 750px) {
    .exhibition__sectionModel {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        clear: both; } }

.aboutWrapper__figureModel {
    width: 23%;
    float: left;
    margin: 1% 1% 3%; }
.aboutWrapper__figureModel :last-child {
    margin-right: 0; }
.aboutWrapper__figureModel :first-child {
    margin-left: 0; }
@media screen and (max-width: 750px) {
    .aboutWrapper__figureModel {
        width: 38%;
        margin-left: 4%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
@media screen and (max-width: 500px) {
    .aboutWrapper__figureModel {
        width: 43%; } }

.listContainer {
    list-style: none;
    padding: 0; }

body {
    font-family: 'EB Garamond', serif;
    font-size: larger; }

h1 {
    font-family: 'Cormorant SC', serif; }

h2 {
    font-family: 'Cormorant SC', serif; }

h3 {
    font-family: 'Cormorant SC', serif; }

h4 {
    font-family: 'Cormorant SC', serif; }

h5 {
    font-family: 'Cormorant SC', serif; }

a {
    font-family: 'Cormorant SC', serif; }

h1 {
    font-size: xx-large; }

a {
    letter-spacing: 1px;
    font-size: .9em;
    font-weight: bold; }

p, span, legend {
    font-size: x-large; }

figcaption, i {
    font-size: medium; }

h1 {
    margin-top: 25%; }

h5 {
    padding-bottom: 3%; }

h4 {
    padding-bottom: 4%; }

h3 {
    padding-bottom: 5%; }

h2 {
    padding-bottom: 6%; }

h2, h3 {
    text-align: center; }

.headerWrapper {
    background: url("../img/header/howAreYou1.jpg") 0 5% fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #e9c25e; }
.headerWrapper h1 {
    height: 100px;
    line-height: 75px;
    background: url("../img/prettyBorder/hBack.png") no-repeat center;
    background-size: 390px;
    overflow: hidden;
    text-shadow: 2px 1px 7px #222222; }
.headerWrapper h2 {
    margin-top: -40px;
    font-size: 100%;
    text-shadow: 2px 1px 5px #222222; }

.makeItDarker {
    min-height: 600px;
    background: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.9), rgba(255, 255, 255, 0.2));
    background: linear-gradient(to bottom, rgba(25, 25, 25, 0.9), rgba(255, 255, 255, 0.2)); }

@media only screen and (max-width: 1024px) and (orientation:landscape) {
    .headerWrapper { background: url("../img/header/howAreYou.medium.jpg") 50% 0 no-repeat fixed !important;
        background-position:center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .headerWrapper { background: url("../img/header/howAreYou.medium.jpg") 30% 25% no-repeat fixed !important;
        background-position:center;
    }
    .makeItDarker {
        height: 660px;
    }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .headerWrapper {
        background: url("../img/header/howAreYou.small.jpg") 15% 0 no-repeat fixed !important;
    }
    .makeItDarker {
        height: 600px;
    }
}

.navigationWrapper {
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative; }

.navigationWrapper__listContainer {
    list-style: none;
    position: relative;
    float: right; }

.navigationWrapper__item:hover {
    background: rgba(102, 204, 102, 0.3); }

.navigationWrapper__item a {
    display: block;
    padding: 10px 11px;
    text-transform: uppercase; }

.navigationWrapper__item {
    float: left;
    line-height: 17px;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out; }
@media screen and (max-width: 1100px) {
    .navigationWrapper__item {
        float: none;
        max-width: 100%;
        margin: 0; }
    .navigationWrapper__item a {
        padding: 2.5px 0;
        text-align: end; } }

.headhesive {
    position: fixed;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    width: 100%;
    opacity: 0;
    -webkit-transition: .7s ease-in-out;
    transition: .7s ease-in-out; }

.headhesive--stick {
    position: fixed;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 100%;
    opacity: 0.8;
    z-index: 10; }

.headhesive--unstick {
    position: fixed;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    width: 100%;
    opacity: 0;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out; }

.selfInfoWrapper {
    width: 100%;
    padding: 8% 0;
    clear: both; }
.selfInfoWrapper h2 {
    background: url("../img/prettyBorder/prettyBorder1.png");
    margin: 50px auto 0;
    height: 176px;
    width: 392px;
    line-height: 110px;
    background-repeat: no-repeat;
    background-size: 390px;
    overflow: hidden;
    text-shadow: 2px 1px 7px #222222; }

.selfInfoWrapper__figure {
    width: 35%;
    float: left;
    margin: 1%; }
.selfInfoWrapper__figure :last-child {
    margin-right: 0; }
.selfInfoWrapper__figure :first-child {
    margin-left: 0; }
@media screen and (max-width: 750px) {
    .selfInfoWrapper__figure {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        clear: both; } }
@media screen and (max-width: 1200px) {
    .selfInfoWrapper__figure {
        margin-right: 3%; } }
@media screen and (max-width: 1150px) {
    .selfInfoWrapper__figure {
        margin-right: 4.5%; } }
@media screen and (max-width: 1100px) {
    .selfInfoWrapper__figure {
        margin-right: 4%; } }

.selfInfoWrapper__text {
    margin-top: 25px; }

.aboutWrapper {
    width: 100%;
    padding: 8% 0;
    clear: both; }
.aboutWrapper h2 {
    background: url("../img/prettyBorder/prettyBorder2.png") 8px 0;
    margin: 0 auto;
    height: 176px;
    width: 432px;
    line-height: 130px;
    background-repeat: no-repeat;
    background-size: 420px;
    overflow: hidden;
    text-shadow: 2px 1px 7px #222222; }

.aboutWrapper__section {
    width: 100%;
    padding: 6% 0;
    clear: both;
    position: relative; }

.aboutWrapper__figure img {
    border: 3px solid whitesmoke;
    border-radius: 50%;
    box-sizing: border-box; }

.aboutWrapper__text {
    clear: both;
    margin-top: 2%; }

.aboutWrapper__figcaption {
    margin-bottom: 5%;
    text-align: center; }

.aboutWrapper__effectWrapper:hover img {
    border: 0.5px solid whitesmoke;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 75px white; }

.heart {
    background: url("../img/prettyBorder/heart.png") no-repeat center;
    width: 90px;
    height: 70px;
    background-size: 60px;
    position: absolute;
    -webkit-animation: beating 4s 2s infinite cubic-bezier(0.18, 1.68, 1, 0.24);
    animation: beating 4s 2s infinite cubic-bezier(0.18, 1.68, 1, 0.24); }
@-webkit-keyframes beating {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1); }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2); }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1); } }
@keyframes beating {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1); }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2); }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1); } }
@media screen and (max-width: 1100px) {
    .heart {
        top: 15%; } }

.newExhibitionWrapper {
    width: 100%;
    padding: 8% 0;
    clear: both; }
.newExhibitionWrapper h2 {
    background: url("../img/prettyBorder/prettyBorder3.png");
    margin: 0 auto;
    height: 176px;
    width: 392px;
    line-height: 70px;
    background-repeat: no-repeat;
    background-size: 390px;
    overflow: hidden;
    text-shadow: 2px 1px 7px #222222; }

.newExhibitionWrapper__waiting {
    width: 62%;
    font-size: x-large; }
@media screen and (max-width: 750px) {
    .newExhibitionWrapper__waiting {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        clear: both; } }

.newExhibitionWrapper__figure {
    width: 48%;
    float: left; }
.newExhibitionWrapper__figure img {
    max-width: none; }

.newExhibitionWrapper__text {
    width: 48%;
    float: right; }

.oldExhibitionWrapper {
    width: 100%;
    padding: 8% 0;
    clear: both; }

@media screen and (max-width: 750px) {
    .oldExhibitionWrapper__figure {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        clear: both; } }

.exhibitionWrapper__text {
    text-align: left;
    padding-bottom: 10%;
    overflow: hidden; }

.footerWrapper {
    width: 100%;
    padding: 20% 0 1%;
    clear: both;
    background: -webkit-linear-gradient(top, rgba(25, 25, 25, 0), rgba(34, 34, 34, 0.3));
    background: linear-gradient(to bottom, rgba(25, 25, 25, 0), rgba(34, 34, 34, 0.3));
    background-size: 100%; }

.footerWrapper__listContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.footerWrapper__container_left {
    width: 35%;
    float: left;
    margin: 1%; }
.footerWrapper__container_left :last-child {
    margin-right: 0; }
.footerWrapper__container_left :first-child {
    margin-left: 0; }

.footerWrapper__container_right {
    width: 62%;
    margin-top: 1%;
    float: right;
    text-align: right; }
.footerWrapper__container_right h2 {
    text-align: inherit; }

.footerWrapper__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 2%; }
.footerWrapper__item img {
    background-color: whitesmoke;
    width: 40px;
    border-radius: 50%; }
